{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% placeholder "content" %}
{% block content %}
    <!-- Page Content -->
    <div class="container-fluid topbackground">


        <div class="row">
            <div class="col-md-5">

            </div>
            <div class="col-md-7">
                <h2 class="presentation__title">
                    <span class="presentation__title-st">Скупка</span>
                    <span class="presentation__title-nd">радиодеталей</span>
                    <span class="presentation__title-rd">содержащих драгоценные<br>металлы</span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">

            </div>
            <div class="col-md-7 col_btn_top">
                <div class="div_btn_top">
                    <a class="btn_top" href="#">Оставить заявку</a>
                    <div class="text_b">И получи особые условия<br> на обмен деталей</div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 col_text_s">
                <div class="text_s">ЧТО МЫ СКУПАЕМ?</div>
            </div>
        </div>

        <div class="row row_4w">


            <div class="col-sm-3 img_f1 img_f ">
                <div class="div_f">ЛАМПЫ</div>
            </div>
            <div class="col-sm-3 img_f2 img_f">
                <div class="div_f">ПЛАТЫ</div>
            </div>
            <div class="col-sm-3 img_f3 img_f">
                <div class="div_f">ДИОДЫ</div>
            </div>
            <div class="col-sm-3 img_f4 img_f">
                <div class="div_f">МИКРОСХЕМЫ</div>
            </div>


        </div>
        <div class="row">
            <div class="col-sm-12 text_mas">А также массу другой электронники</div>
        </div>

    </div>
    <!-- /.container -->

{% endblock content %}
